<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Image Search Abstraction Layer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Image search abstraction layer</h1>
      <h2>Example usage:</h2>
      <ul>
        <li>
          <p>Search images:</p>
          <p>
            <code><%= schemeAndHost %>/api/imagesearch/lolcats?offset=10</code>
          </p>
        </li>
        <li>
          <p>Browse Latest Queries:</p>
          <p>
            <code><%= schemeAndHost %>/api/latest/imagesearch/</code>
          </p>
        </li>
    </div>
  </body>
</html>
